* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

:root {
  /* Font */
  --main-fw: 400;
  --secondary-fw: 700;
  --light-fw: 300;

  --main-fz: 18px;
  --title-fz: 50px;
  --subtitle-fz: 30px;

  --main-lh: 1.67;
  --title-lh: 1.36;
  --subtitle-lh: 1;

  /* Colors */
  --main-light: #fff;
  --main-dark: #000;
  --accent: #d22856;

  --text: #283645;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: var(--main-fw);
  font-size: var(--main-fz);
  color: var(--text);
}

body.lock {
  overflow-y: hidden;
}

/* Common styles--------------------------- */

.section {
  max-width: 940px;
  margin: 0px auto;
}

.link {
  color: currentColor;
  text-decoration: none;
}

.list {
  list-style: none;
}

.title {
  display: flex;
  align-items: center;

  font-weight: var(--light-fw);
  font-size: var(--title-fz);
  line-height: 1.36;
  color: var(--text);

  text-align: center;
}

.subtitle {
  display: flex;
  align-items: center;

  font-weight: var(--secondary-fw);
  font-size: var(--subtitle-fz);
  line-height: var(--subtitle-lh);
  color: var(--main-dark);

  text-align: center;
}

/* ---------------------------------------- */
/* Header section-------------------------- */
.header {
  position: fixed;
  width: 100%;

  background-color: rgba(0, 0, 0, 0.3);
}

.header-wrapper {
  padding: 27px 0 43px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* ---------------------------------------- */

.header-logo__img {
  max-width: 100%;
}

/* ---------------------------------------- */

/* ---------------------------------------- */
.header-menu {
  transition: all 0.3s ease 0s;
}

.header__list {
  display: flex;
}

.header__item {
  color: var(--main-light);

  transition: all 0.3s ease 0s;
}

.header__item:hover,
.header__item:focus {
  color: var(--accent);
}

.header__item:not(:first-child) {
  padding-left: 67px;
}

/* Header mobile section------------------- */
@media (max-width: 767px) {
  .header {
    background-color: var(--text);
  }

  .header-wrapper {
    padding: 20px 10px;
  }

  .header-logo {
    position: relative;
    z-index: 2;
    flex: 0 0 100px;
  }

  .header-burger {
    display: block;
    position: absolute;
    z-index: 2;
    right: 10px;
  }

  .header-burger::before,
  .header-burger::after {
    content: '';
    position: absolute;
    display: block;
    width: 30px;
    height: 2px;
    background-color: var(--main-light);
    right: 10px;
    transition: all 0.3s ease 0s;
  }

  .header-burger::before {
    top: -8px;
  }

  .header-burger.active span {
    transform: scale(0);
  }

  .header-burger.active::before {
    transform: rotate(45deg);
    top: -1px;
  }

  .header-burger::after {
    bottom: -10px;
  }

  .header-burger.active::after {
    transform: rotate(-45deg);
    bottom: 0px;
  }

  .close {
    position: absolute;
    right: 10px;
    width: 30px;
    height: 2px;
    background-color: var(--main-light);
    transition: all 0.3s ease 0s;
  }

  .header-menu {
    position: fixed;
    top: -200%;
    left: 0;
    width: 100%;
    height: 100vh;
    padding-top: 70px;
    text-align: center;
    transition: all 0.3s ease 0s;
  }

  .header-menu.active {
    top: 0;
  }

  .header__list {
    display: flex;
    flex-direction: column;
    height: 100%;

    background-color: var(--text);
  }

  .header__item {
    flex: 25%;
    display: flex;
    align-items: center;
    justify-content: center;

    border-bottom: 1px solid var(--main-dark);
  }

  .header__item:first-child {
    border-top: 1px solid var(--main-dark);
  }

  .header__item:not(:first-child) {
    padding-left: 0px;
  }
}

/* Hero section---------------------------- */
.hero-wrapper {
  padding-bottom: 130px;
  width: 100%;
  height: 150vh;
  background: url(../img/main/hero/back-desktop.jpg) 0 0 / cover no-repeat;
}

/* ---------------------------------------- */

.hero-content {
  padding-top: 224px;
}

.hero__title {
  padding-bottom: 50px;
  max-width: 300px;

  color: var(--main-light);
  text-align: center;
}

.header__btn {
  display: inline-block;
  padding: 20px 31px;

  font-weight: var(--secondary-fw);
  font-size: 21px;
  line-height: calc(18 / 21);
  color: var(--main-light);

  border: 3px solid var(--main-light);
  border-radius: 29px;

  transition: all 0.3s ease 0s;
}

.header__btn:hover,
.header__btn:focus {
  color: var(--accent);
  border: 3px solid var(--accent);
}
/* ---------------------------------------- */
.hero__list {
  display: flex;
  align-items: center;
  padding-top: 95px;
  padding-bottom: 59px;
}

.hero__item:not(:first-child) {
  padding-left: 56px;
}

/* ---------------------------------------- */
.hero__desk {
  max-width: 300px;

  font-weight: var(--light-fw);
  line-height: 1.33;
  color: var(--main-light);

  text-align: center;
}
