* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

:root {
  /* Font */
  --main-fw: 400;
  --secondary-fw: 700;
  --light-fw: 300;

  --main-fz: 18px;
  --mobile-fz: 14px;
  --title-fz: 50px;
  --subtitle-fz: 30px;

  --main-lh: 1.67;
  --title-lh: 1.36;
  --subtitle-lh: 1;

  /* Colors */
  --main-light: #fff;
  --main-dark: #000;
  --accent: #d22856;

  --text: #283645;
  --section-bgc: #f2f2f2;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: var(--main-fw);
  font-size: var(--main-fz);
  color: var(--text);
  background-color: var(--main-light);
}

body.lock {
  overflow-y: hidden;
}

/* Common styles--------------------------- */

.section {
  max-width: 940px;
  margin: 0px auto;
}

.link {
  color: currentColor;
  text-decoration: none;
}

.list {
  list-style: none;
}

.title {
  display: flex;
  align-items: center;

  font-weight: var(--light-fw);
  font-size: var(--title-fz);
  line-height: 1.36;
  color: var(--text);

  text-align: center;
}

.subtitle {
  font-weight: var(--secondary-fw);
  font-size: var(--subtitle-fz);
  line-height: var(--subtitle-lh);
  color: var(--main-dark);

  text-align: center;
}

.wrap {
  display: block;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* ---------------------------------------- */
/* Header section-------------------------- */
.header {
  position: fixed;
  z-index: 50;

  width: 100%;

  background-color: rgba(0, 0, 0, 0.3);
}

.header-wrapper {
  position: relative;
  z-index: 20;
  padding: 27px 0 43px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* ---------------------------------------- */

.header-logo__img {
  max-width: 100%;
}

/* ---------------------------------------- */

/* ---------------------------------------- */
.header-menu {
  transition: all 0.3s ease 0s;
}

.header__list {
  display: flex;
}

.header__item {
  color: var(--main-light);

  transition: all 0.3s ease 0s;
}

.header__item:hover,
.header__item:focus {
  color: var(--accent);
}

.header__item:not(:first-child) {
  padding-left: 67px;
}

/* Header mobile section------------------- */
@media (max-width: 767px) {
  .header {
    position: fixed;
    z-index: 15;

    background-color: var(--text);
  }

  .header-wrapper {
    padding: 20px 10px;
  }

  .header-logo {
    position: relative;
    z-index: 2;

    flex: 0 0 100px;
  }

  .header-burger {
    position: absolute;
    z-index: 2;
    right: 10px;

    display: block;
  }

  .header-burger::before,
  .header-burger::after {
    content: '';
    position: absolute;
    right: 10px;

    display: block;
    width: 30px;
    height: 2px;

    background-color: var(--main-light);

    transition: all 0.3s ease 0s;
  }

  .header-burger::before {
    top: -8px;
  }

  .header-burger.active span {
    transform: scale(0);
  }

  .header-burger.active::before {
    top: -1px;

    transform: rotate(45deg);
  }

  .header-burger::after {
    bottom: -10px;
  }

  .header-burger.active::after {
    bottom: 0px;

    transform: rotate(-45deg);
  }

  .close {
    position: absolute;
    right: 10px;

    width: 30px;
    height: 2px;

    background-color: var(--main-light);

    transition: all 0.3s ease 0s;
  }

  .header-menu {
    position: fixed;
    top: -200%;
    left: 0;
    padding-top: 70px;

    width: 100%;
    height: 100vh;

    text-align: center;

    transition: all 0.3s ease 0s;
    overflow: auto;
  }

  .header-menu.active {
    top: 0;
  }

  .header__list {
    display: flex;
    flex-direction: column;
    height: 100%;

    background-color: var(--text);
  }

  .header__item {
    flex: 25%;
    display: flex;
    align-items: center;
    justify-content: center;

    border-bottom: 1px solid var(--main-dark);
  }

  .header__item:first-child {
    border-top: 1px solid var(--main-dark);
  }

  .header__item:not(:first-child) {
    padding-left: 0px;
  }
}

/* Hero section---------------------------- */
.hero-wrapper {
  padding-bottom: 130px;
  max-width: 100%;

  background: url(../img/main/hero/back-desktop.jpg) 0 0 / cover no-repeat;
}

/* ---------------------------------------- */

.hero-content {
  position: relative;
  z-index: 10;

  padding-top: 224px;
}

.hero__title {
  padding-bottom: 50px;
  max-width: 300px;

  color: var(--main-light);
  text-align: center;
}

.hero__btn {
  display: inline-block;
  padding: 20px 31px;

  font-weight: var(--secondary-fw);
  font-size: 21px;
  line-height: calc(18 / 21);
  color: var(--main-light);

  border: 3px solid var(--main-light);
  border-radius: 29px;

  transition: all 0.3s ease 0s;
}

.hero__btn:hover,
.hero__btn:focus {
  color: var(--accent);
  border: 3px solid var(--accent);
}

/* ---------------------------------------- */
.hero__list {
  display: flex;
  align-items: center;
  padding-top: 95px;
  padding-bottom: 59px;
}

.hero__item:not(:first-child) {
  padding-left: 56px;
}

/* ---------------------------------------- */
.hero__desk {
  max-width: 300px;

  font-weight: var(--light-fw);
  line-height: 1.33;
  color: var(--main-light);

  text-align: center;
}

/* ---------------------------------------- */
.hero-img {
  position: absolute;
  right: 0;
  top: 0;
}

.hero-img__hand {
  position: relative;
  z-index: 9;
  top: 227px;

  max-width: 100%;
}

/* Hero mobile section--------------------- */
@media (max-width: 767px) {
  .hero-wrapper {
    padding-bottom: 0;

    background: url(../img/main/hero/back-mobile.png) 0 0 / contain no-repeat;
  }

  .hero-content {
    padding-top: 89px;

    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .hero__title {
    font-size: 24px;
    line-height: 1.2;
  }

  .hero-mobile {
    padding-top: 28px;
    padding-bottom: 38px;
    margin-top: 322px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;

    background-color: var(--text);
  }

  .hero-img {
    top: 184px;
    left: -180px;
  }

  .hero-img__hand {
    left: 0;
    top: 0;

    max-height: 500px;
  }
}
/* Offer section--------------------------- */
.offer {
  background: url(../img/main/offer/grey-background.png) bottom/contain no-repeat;
}

/* ---------------------------------------- */
.offer__title {
  padding-top: 77px;

  display: block;
}

.title-center {
  display: block;
}

/* ---------------------------------------- */
.offer__list {
  padding: 72px 0px 59px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.offer__item {
  padding: 0px 30px;

  flex: 33.33%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-height: 100%;
}

/* ---------------------------------------- */

.offer__img {
  max-width: 100%;
}

.offer__subtitle {
  padding: 59px 0px 35px;
}

.offer__desc {
  text-align: center;
}

.offer-mobile {
  display: none;

  background-color: var(--section-bgc);
}
/* Offer mobile section-------------------- */
@media (max-width: 767px) {
  .offer__title {
    font-size: 28px;
    line-height: calc(29 / 28);
  }

  .offer__subtitle {
    font-size: 20px;
    line-height: calc(24 / 20);
  }

  .title-center {
    padding-top: 20px;
  }

  .offer__list {
    flex-direction: column;

    background: url(../img/main/offer/grey-background.png) bottom/cover no-repeat;
  }

  .offer__img {
    display: none;
  }

  .offer-mobile {
    display: block;

    text-align: center;
  }
}

/* Effect section-------------------------- */
.effect {
  background-color: var(--section-bgc);
}

.effect-wrapper {
  padding: 17px 0px 67px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* ---------------------------------------- */
.effect__img {
  max-width: 100%;
}

/* ---------------------------------------- */
.effect__content {
  margin-left: 70px;
}

.effect__title {
  padding-bottom: 38px;
}

.effect__desc {
  padding-bottom: 46px;
}

.effect__link {
  padding: 10px;
  margin-left: -10px;

  line-height: calc(30 / 18);
  color: var(--accent);

  text-decoration-line: underline;
  border: 1px solid transparent;
  border-radius: 9px;

  transition: all 0.5s ease 0s;
}

.effect__link:hover,
.effect__link:focus {
  padding: 10px;

  color: var(--main-light);

  background-color: var(--accent);

  border: 1px solid var(--accent);
}

/* Effect mobile section------------------- */
@media (max-width: 767px) {
  .effect {
    display: none;
  }
}

/* Slider section-------------------------- */

.slider-wrapper {
  padding-bottom: 100px;
}

/* ---------------------------------------- */

.fa-solid {
  padding-top: 72px;
  padding-bottom: 58px;

  font-size: 100px;
  color: #efefef;
}

.fa-quote-left {
  padding-left: 432px;
}

.slider-slick {
  position: relative;
}

.slick__body {
  text-align: center;
}

.slick__text {
  padding-bottom: 50px;

  display: inline-block;
  max-width: 688px;

  line-height: calc(30 / 18);
}

.slick__author {
  font-size: 30px;
}

.slick__author span {
  padding-top: 17px;

  display: block;

  font-weight: var(--main-fw);
  font-size: var(--main-fz);
  line-height: var(--main-lh);
  color: var(--text);
}

/* Slider mobile section */
@media (max-width: 767px) {
  .fa-solid.fa-quote-left,
  .fa-solid::before {
    display: none;
  }

  .slider-wrapper {
    padding-bottom: 60px;
  }

  .slick__body figure {
    display: flex;
    flex-direction: column-reverse;
  }

  .slick__text {
    padding: 0px 10px;
    padding-bottom: 40px;

    font-size: var(--mobile-fz);
    line-height: calc(30 / 14);
  }

  .slick__author {
    padding: 50px 0px 30px;

    font-size: var(--main-fz);
    line-height: calc(30 / 18);
  }

  .slick__author span {
    display: none;
  }
}

/* Slick slider styles--------------------- */

/* Ограничивающая оболочка */
.slick-list {
  overflow: hidden;
}

/* Лента слайдов */
.slick-track {
  display: flex;
}

/* Стрелка */
.slider-slick .slick-arrow {
  position: absolute;
  top: 50%;
  z-index: 10;

  width: 22px;
  height: 41px;

  font-size: 0;

  border: none;
  cursor: pointer;
}

/* Стрелка влево */
.slider-slick .slick-arrow.slick-prev {
  left: 0;

  background: url(../img/slider/left-arrow.png) 0 0 /100% no-repeat;
}

/* Стрелка вправо */
.slider-slick .slick-arrow.slick-next {
  right: 0;

  background: url(../img/slider/right-arrow.png) 0 0 /100% no-repeat;
}

.slider-slick .slick-arrow.slick-prev,
.slider-slick .slick-arrow.slick-next {
  opacity: 0.5;
}

.slider-slick .slick-arrow.slick-prev:hover,
.slider-slick .slick-arrow.slick-prev:focus,
.slider-slick .slick-arrow.slick-next:hover,
.slider-slick .slick-arrow.slick-next:focus {
  opacity: 1;
}

/* Mobile dots styles---------------------- */

/* Точки (булиты) */
.slider-slick .slick-dots {
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider-slick .slick-dots li {
  list-style: none;
  margin-left: 10px;
}

/* Активная точка */
.slider-slick .slick-dots li.slick-active button {
  background-color: var(--accent);
}

/* Элемент точки */
.slick-dots li button {
  width: 10px;
  height: 10px;

  font-size: 0;

  border: none;
  border-radius: 50%;
  background-color: var(--text);
}

/* Price section--------------------------- */
.price {
  padding-top: 100px;

  background-color: #e3dbdb;
}

/* ---------------------------------------- */
.price__list {
  padding-bottom: 98px;

  display: flex;

  justify-content: space-between;
}

/* ---------------------------------------- */

.header-price__title {
  font-weight: var(--secondary-fw);
  line-height: calc(30 / 18);
  color: var(--main-light);

  background-color: var(--text);
  border-top: 1px solid var(--text);
}

.header-price__title span {
  padding-right: 10px;

  font-weight: var(--light-fw);
  font-size: 24px;
  line-height: calc(30 / 24);
  color: #ffffff;

  text-transform: uppercase;
}

.header-price__title,
.content-price__text {
  display: inline-block;
}

/* ---------------------------------------- */
.header-price__title,
.content-price {
  padding-left: 10px;

  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 254px;
  height: 59px;

  border: 1px solid var(--text);
}

.content-price {
  border-top: none;
}

.content-price__text {
  display: flex;
  align-items: center;
  justify-content: center;

  line-height: calc(30 / 18);
}

/* ---------------------------------------- */
.fa-xmark {
  padding-right: 20px;

  color: #f25b26;
}

.fa-check {
  padding-right: 10px;

  color: #3dc644;
}

.fa-xmark,
.fa-check {
  padding-top: 0;
  padding-bottom: 0;

  font-size: 36px;
}

/* price mobile section-------------------- */
@media (max-width: 767px) {
  .price__list {
    flex-direction: column;
    align-items: center;
  }

  .price__item:not(:first-child) {
    padding-top: 25px;
  }
}
